.ChangeCloth {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* object-fit: cover; */
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.MainGame {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/roombg.png');
}

.character {
  position: absolute;
  height: 105%;
  right: 38%;
  top: -8%;
}

.closet-c {
  position: absolute;
  height: 97%;
  bottom: 3%;
  left: 35%;
}

/* 여기서부터.. */
.TopSlider {
  position: absolute;
  display: flex;
  margin-top: -160px;
  /* top: -20px; */

  margin-left: 30%;

  align-items: center;
  justify-content: center;
}

.TopSlider img {
  overflow: hidden;
  width: 50px;
  /* 이미지 버튼의 크기를 조정 */
  height: 50px;
  top: -600px;
  cursor: pointer;
  margin: 30px;
  /* 이미지 버튼 사이의 간격을 조정 */
}


.BottomSlider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BottomSlider img {
  overflow: hidden;
  width: 50px;
  /* 이미지 버튼의 크기를 조정 */
  height: 50px;
  top: -430px;
  cursor: pointer;
  margin: 20px 180px;
  /* 이미지 버튼 사이의 간격을 조정 */
}

.SetSlider {
  position: absolute;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SetSlider img {
  overflow: hidden;
  width: 50px;
  /* 이미지 버튼의 크기를 조정 */
  height: 50px;
  top: -180px;
  cursor: pointer;
  margin: 20px -40px;
  /* 이미지 버튼 사이의 간격을 조정 */
}

.topLeftButton {
  width: 5%;
  position: absolute;
  z-index: 9;
  top: 25%;
  left: 83%;
}

.bottomLeftButton {
  width: 5%;
  position: absolute;
  z-index: 9;
  top: 56%;
  left: 83%;
}
.setLeftButton {
  width: 5%;
  position: absolute;
  z-index: 9;
  top: 45%;
  left: 63%;
}

.topRightButton {
  width: 5%;
  position: absolute;
  z-index: 9;
  top: 25%;
  left: 66%;
}

.bottomRightButton {
  width: 5%;
  position: absolute;
  z-index: 9;
  top: 56%;
  left: 66%;
}

.setRightButton {
  width: 5%;
  position: absolute;
  z-index: 9;
  top: 45%;
  left: 45%;
}

.top{
  width: 18%;
  position: absolute;
  z-index: 9;
  top: 20%;
  left: 68%;
}

.bottom{
  width: 14%;
  position: absolute;
  z-index: 9;
  top: 41%;
  left: 70%;
}

.set{
  width: 20%;
  position: absolute;
  z-index: 10;
  top: 22%;
  left: 46%;
}

.top-c{
  width: 21%;
  position: absolute;
  z-index: 9;
  top: 27%;
  left: 10%;
}

.bottom-c{
  width: 15.5%;
  position: absolute;
  z-index: 9;
  left: 13.1%;
}

.set-c{
  width: 20%;
  z-index: 10;
  left: 11%;
}

.next-btn {
  position: absolute;
  width: 8%;
  left: 90%;
  bottom: 2%;
  z-index: 3;
}

/* 버튼 클릭 효과 */
.nextbtn:active {
  margin-left: 2px;
  margin-top: 2px;
  box-shadow: none;
}