.ChangeCloth{
  width: 100vw;
  height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  /* object-fit: cover; */
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
}

.MainGame {
    width: 100vw;
    height: 100vh;
    background-repeat : no-repeat;
    background-size : cover;
    background-image: url('../images/roombg.png');
  }
  
  .MainGame > div:nth-child(1){ 
    /*  OpenCloset */
    width: 1500px; 
    height: 900px;
    position: absolute;
    background-image: url('../images/closet-open.png');
    z-index: 1;
    /* 이미지 위치 */
    top: -40px;
    left: 20px;
    background-size: 110%;
  }

  .MainGame > div:nth-child(2){
    /* Character */
    width: 1200px; 
    height: 1000px;
    position: absolute;
    background-image: url('../images/Character.png');
    z-index: 2;
    /* 이미지 위치 */
    top: -30px;
    left: -180px;
    background-size: 100%;
}
  