.MainGame {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/roombg.png');
}

.character {
    position: absolute;
    height: 105%;
    right: 38%;
    top: -8%;
}

.closet-a {
    position: absolute;
    height: 80%;
    bottom: 3%;
    left: 30%;
}

.top-a {
    width: 21%;
    position: absolute;
    z-index: 9;
    left: 10%;
}

.bottom-a {
    width: 15.5%;
    position: absolute;
    z-index: 8;
    left: 13.1%;
}

.set-a {
    width: 21%;
    left: 10%;
    z-index: 15;
}

.accessorieLeftButton {
    width: 5%;
    position: absolute;
    z-index: 9;
    top: 48%;
    left: 82%;
}

.accessorieRightButton {
    width: 5%;
    position: absolute;
    z-index: 9;
    top: 48%;
    left: 46%;
}

.accessorie {
    width: 10%;
    position: absolute;
    z-index: 9;
    top: 40%;
}

.shoesLeftButton {
    width: 5%;
    position: absolute;
    z-index: 9;
    top: 65%;
    left: 82%;
}

.shoesRightButton {
    width: 5%;
    position: absolute;
    z-index: 9;
    top: 65%;
    left: 46%;
}

.shoes {
    width: 10%;
    position: absolute;
    z-index: 9;
    top: 62%;
}

.accessorie-c {
    width: 16%;
    position: absolute;
    z-index: 9;
}

.shoes-c {
    width: 16%;
    position: absolute;
    z-index: 9;
    left: 13.1%;
}

.complete-btn {
    position: absolute;
    width: 8%;
    left: 90%;
    bottom: 2%;
    z-index: 3;
}