.GoOsaka{
  width: 100vw;
  height: 100vh;
  background-image: url('../images/StartBackground.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  /* object-fit: cover; */
}

body{
  overflow-x: hidden;
  overflow-y: hidden;

}

/* Osaka */
.parent {
    width: 100vw;
    height: 100vh;
    background-repeat : no-repeat;
    background-size : cover;
    background-image: url('../images/CheckBackGround.png');
  }
  
  .parent > div:nth-child(2){
    /* 이미지 크기 */
    width: 300px; 
    height: 70px;
    position: absolute;
    background-image: url('../images/OSAKA.png');
    /* 이미지 위치 */
    top: 110px;
    left: 150px;
    z-index: 1;
    /* 이미지 가로 세로 비율은 그대로, 크기 줄이기 */
    background-size: 100%;
   
  }
  .parent > div:nth-child(3){
    width: 500px;
    height: 60px;
    position: absolute;
    background-image: url('../images/OSAKA-ex.png');
    top: 120px;
    left: 480px;
    z-index: 2;
    background-size: 100%;
  }
  .parent > div:nth-child(4){
    width: 200px;
    height: 20px;
    background-image: url('../images/SomeArea.png');
    position: absolute;
    top: 220px;
    left: 150px;
    background-size: 100%;
    z-index: 3;
  }
  .parent > div:nth-child(5){
    width: 260px;
    height: 240px;
    background-image: url('../images/Harukas-img.png');
    position: absolute;
    top: 280px;
    left: 150px;
    background-size: 100%;
    z-index: 4;
  }
  .parent > div:nth-child(6){
    width: 260px;
    height: 240px;
    background-image: url('../images/Glycosan-img.png');
    position: absolute;
    top: 280px;
    left: 425px;
    background-size: 100%;
    z-index: 5;
  }
  .Glycosan-img {
    border: 1.8px solid transparent;
    transition: border-color 0.3s ease-in-out;
    display: block;
    margin: auto;
    /* 버튼 클릭 기능 */
    transition-duration: 0.3s;
  }
  .Glycosan-img:hover {
    border-color: red;
    position: relative;
  }
  /* 버튼 클릭 효과 */
  .Glycosan-img:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: none;
     
    }
  .parent > div:nth-child(7){
    width: 260px;
    height: 240px;
    background-image: url('../images/Zoo-img.png');
    position: absolute;
    top: 280px;
    left: 700px;
    background-size: 100%;
    z-index: 6;
  }
  .parent > div:nth-child(8){
    width: 20px;
    height: 20px;
    background-image: url('../images/CloseButton.png');
    position: absolute;
    top: 80px;
    left: 960px;
    background-size: 100%;
    z-index: 7;
    /* 버튼 클릭 기능 */
    transition-duration: 0.3s;
  }
  /* 버튼 클릭 효과 */
  .CloseButton:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: none;
     
    }
  .parent > div:nth-child(9){
    width: 130px;
    height: 20px;
    background-image: url('../images/Harukas-kr.png');
    position: absolute;
    top: 530px;
    left: 220px;
    background-size: 100%;
    z-index: 8;
  }
  .parent > div:nth-child(10){
    width: 145px;
    height: 18px;
    background-image: url('../images/Glycosan-kr.png');
    position: absolute;
    top: 531px;
    left: 480px;
    background-size: 100%;
    z-index: 9;
  }
  .parent > div:nth-child(11){
    width: 120px;
    height: 20px;
    background-image: url('../images/Zoo-kr.png');
    position: absolute;
    top: 530px;
    left: 770px;
    background-size: 100%;
    z-index: 10;
  }