/* Tokyo */
.parent2 {
    width: 100vw;
    height: 100vh;
    background-repeat : no-repeat;
    background-size : cover;
    background-image: url('../images/CheckBackGround.png');
  }
  
  .parent2 > div:nth-child(2){
    /* 이미지 크기 */
    width: 30%; 
    height: 12.6%;
    position: absolute;
    background-image: url('../images/TOKYO.png');
    /* 이미지 위치 */
    top: 17%;
    left: 12%;
    z-index: 1;
    /* 이미지 가로 세로 비율은 그대로, 크기 줄이기 */
    background-size: 100%;
   
  }
  .parent2 > div:nth-child(3){
    width: 47%;
    height: 10%;
    position: absolute;
    background-image: url('../images/TOKYO-ex.png');
    top: 18.5%;
    left: 44%;
    z-index: 2;
    background-size: 100%;
  }
  .parent2 > div:nth-child(4){
    width: 14%;
    height: 2.5%;
    background-image: url('../images/SomeArea.png');
    position: absolute;
    top: 36%;
    left: 13.5%;
    background-size: 100%;
    z-index: 3;
  }
  .parent2 > div:nth-child(5){
    width: 24%;
    height: 39.2%;
    background-image: url('../images/Disneyland-img.png');
    position: absolute;
    top: 43%;
    left: 13%;
    background-size: 100%;
    z-index: 4;
  }
  .parent2 > div:nth-child(6){
    width: 24%;
    height: 39.2%;
    background-image: url('../images/UenoPark-img.png');
    position: absolute;
    top: 43%;
    left: 38%;
    background-size: 100%;
    z-index: 5;
  }
  .parent2 > div:nth-child(7){
    width: 24%;
    height: 39.2%;
    background-image: url('../images/Meiji-img.png');
    position: absolute;
    top: 43%;
    left: 63%;
    background-size: 100%;
    z-index: 6;
  }
  .Meiji-img {
    border: 1.8px solid transparent;
    transition: border-color 0.3s ease-in-out;
    display: block;
    margin: auto;
    /* 버튼 클릭 기능 */
    transition-duration: 0.3s;
  }
  .Meiji-img:hover {
    border-color: red;
    position: relative;
  }
  /* 버튼 클릭 효과 */
  .Meiji-img:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: none;
     
    }
  .parent2 > div:nth-child(8){
    width: 2%;
    height: 3.5%;
    background-image: url('../images/CloseButton.png');
    position: absolute;
    top: 12%;
    left: 86%;
    background-size: 100%;
    z-index: 7;
    /* 버튼 클릭 기능 */
    transition-duration: 0.3s;
  }
  /* 버튼 클릭 효과 */
  .CloseButton:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: none;
     
    }
  .parent2 > div:nth-child(9){
    width: 9%;
    height: 3%;
    background-image: url('../images/Disneyland-kr.png');
    position: absolute;
    top: 85%;
    left: 21%;
    background-size: 100%;
    z-index: 8;
  }
  .parent2 > div:nth-child(10){
    width: 10%;
    height: 3%;
    background-image: url('../images/UenoPark-kr.png');
    position: absolute;
    top: 85%;
    left: 45%;
    background-size: 100%;
    z-index: 9;
  }
  .parent2 > div:nth-child(11){
    width: 10%;
    height: 3%;
    background-image: url('../images/Meiji-kr.png');
    position: absolute;
    top: 85%;
    left: 70%;
    background-size: 100%;
    z-index: 10;
  }
  
  .parent2 > div:nth-child(12){
    width: 100px;
    height: 48px;
    background-image: url('../images/NextButton.png');
    position: absolute;
    top: 310px;
    left: 1230px;
    background-size: 100%;
    z-index: 11;
  }
  