/* Tokyo */
.parent2 {
    width: 100vw;
    height: 100vh;
    background-repeat : no-repeat;
    background-size : cover;
    background-image: url('../images/CheckBackGround.png');
  }
  
  .parent2 > div:nth-child(2){
    /* 이미지 크기 */
    width: 300px; 
    height: 72px;
    position: absolute;
    background-image: url('../images/TOKYO.png');
    /* 이미지 위치 */
    top: 110px;
    left: 150px;
    z-index: 1;
    /* 이미지 가로 세로 비율은 그대로, 크기 줄이기 */
    background-size: 100%;
   
  }
  .parent2 > div:nth-child(3){
    width: 520px;
    height: 62px;
    position: absolute;
    background-image: url('../images/TOKYO-ex.png');
    top: 115px;
    left: 480px;
    z-index: 2;
    background-size: 100%;
  }
  .parent2 > div:nth-child(4){
    width: 200px;
    height: 20px;
    background-image: url('../images/SomeArea.png');
    position: absolute;
    top: 230px;
    left: 160px;
    background-size: 100%;
    z-index: 3;
  }
  .parent2 > div:nth-child(5){
    width: 260px;
    height: 240px;
    background-image: url('../images/Disneyland-img.png');
    position: absolute;
    top: 280px;
    left: 150px;
    background-size: 100%;
    z-index: 4;
  }
  .parent2 > div:nth-child(6){
    width: 260px;
    height: 240px;
    background-image: url('../images/UenoPark-img.png');
    position: absolute;
    top: 283px;
    left: 425px;
    background-size: 100%;
    z-index: 5;
  }
  .parent2 > div:nth-child(7){
    width: 260px;
    height: 240px;
    background-image: url('../images/Meiji-img.png');
    position: absolute;
    top: 280px;
    left: 700px;
    background-size: 100%;
    z-index: 6;
  }
  .Meiji-img {
    border: 1.8px solid transparent;
    transition: border-color 0.3s ease-in-out;
    display: block;
    margin: auto;
    /* 버튼 클릭 기능 */
    transition-duration: 0.3s;
  }
  .Meiji-img:hover {
    border-color: red;
    position: relative;
  }
  /* 버튼 클릭 효과 */
  .Meiji-img:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: none;
     
    }
  .parent2 > div:nth-child(8){
    width: 20px;
    height: 20px;
    background-image: url('../images/CloseButton.png');
    position: absolute;
    top: 80px;
    left: 960px;
    background-size: 100%;
    z-index: 7;
    /* 버튼 클릭 기능 */
    transition-duration: 0.3s;
  }
  /* 버튼 클릭 효과 */
  .CloseButton:active{
    margin-left: 2px;
    margin-top: 2px;
    box-shadow: none;
     
    }
  .parent2 > div:nth-child(9){
    width: 100px;
    height: 20px;
    background-image: url('../images/Disneyland-kr.png');
    position: absolute;
    top: 530px;
    left: 230px;
    background-size: 100%;
    z-index: 8;
  }
  .parent2 > div:nth-child(10){
    width: 100px;
    height: 20px;
    background-image: url('../images/UenoPark-kr.png');
    position: absolute;
    top: 531px;
    left:510px;
    background-size: 100%;
    z-index: 9;
  }
  .parent2 > div:nth-child(11){
    width: 100px;
    height: 20px;
    background-image: url('../images/Meiji-kr.png');
    position: absolute;
    top: 530px;
    left: 780px;
    background-size: 100%;
    z-index: 10;
  }
  
  .parent2 > div:nth-child(12){
    width: 100px;
    height: 48px;
    background-image: url('../images/NextButton.png');
    position: absolute;
    top: 310px;
    left: 1230px;
    background-size: 100%;
    z-index: 11;
  }
  