.OsakaChangeClothes{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/roombg.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: cover; */
}