@font-face {
    font-family: 'StoryFont';
    src: url('../fonts/StoryFont.ttf') format('truetype');
  }

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/roombg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.character {
    position: absolute;
    height: 105%;
    right: 38%;
    top: -8%;
}

.closet {
    position: absolute;
    height: 97%;
    bottom: 3%;
    left: 35%;
}


.textbox {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 10%;
    z-index: 1;
}

.nextbtn {
    position: absolute;
    width: 1.5%;
    left: 81%;
    bottom: 28.7%;
    z-index: 3;
}

.line {
    font-family: 'StoryFont', sans-serif; /* 폰트 적용 */
    position: absolute;
    font-size: 75px;
    text-align: left;
    left: 18%;
    top: 69%;
    z-index: 5;  
    white-space: pre-wrap;    
  }