html {
  margin: 0;
  padding: 0;
}

.start-page{
  width: 100vw;
  height: 100vh;
  background-image: url('./images/StartBackground.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  /* object-fit: cover; */
}

.start-logo{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./images/Logo.png');
  background-size: contain; 
  background-repeat: no-repeat;
  /* object-fit: cover; */
}

 .start-btn {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./images/StartBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* object-fit: cover;} */
 } 
 *{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;

}

.map{
  width: 100vw;
  height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  background-image: url('./images/map.png');
}

.osaka-btn{
  position: absolute;
  width: 10%;
  height: 20%;
  top: 66%;
  left: 46%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-image: url('./images/osaka-btn.png');
  background-size: contain;
  background-repeat: no-repeat;
   /* 버튼 클릭 기능 */
   transition-duration: 0.3s;
}

.osaka-btn:active{
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
}

.tokyo-btn{
  position: absolute;
  width: 10%;
  height: 20%;
  top: 57%;
  left: 57.8%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-image: url('./images/tokyo-btn.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* 버튼 클릭 기능 */
  transition-duration: 0.3s;

}
/* 버튼 클릭 효과 */
.tokyo-btn:active{
margin-left: 5px;
margin-top: 5px;
box-shadow: none;
 
}

.sapporo-btn{
  position: absolute;
  width: 13%;
  height: 20%;
  top: 26%;
  left: 65%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-image: url('./images/sapporo-btn.png');
  background-size: contain;
  background-repeat: no-repeat;
   /* 버튼 클릭 기능 */
   transition-duration: 0.3s;
}
.sapporo-btn:active{
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
}


.start-page{
  width: 100vw;
  height: 100vh;
  background-image: url('./images/StartBackground.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  /* object-fit: cover; */
}

.start-logo{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./images/Logo.png');
  background-size: contain; 
  background-repeat: no-repeat;
  /* object-fit: cover; */
}

 .start-btn {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./images/StartBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* object-fit: cover;} */
 } 

 /* Osaka */
 .parent {
  width: 100vw;
  height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  background-image: url('./images/CheckBackGround.png');
}

.parent > div:nth-child(2){
  /* 이미지 크기 */
  width: 350px; 
  height: 83px;
  position: absolute;
  background-image: url('./images/OSAKA.png');
  position: absolute;
  /* 이미지 위치 */
  top: 170px;
  left: 240px;
  z-index: 1;
  /* 이미지 가로 세로 비율은 그대로, 크기 줄이기 */
  background-size: 100%;
 
}
.parent > div:nth-child(3){
  width: 700px;
  height: 85px;
  position: absolute;
  background-image: url('./images/OSAKA-ex.png');
  position: absolute;
  top: 170px;
  left: 630px;
  z-index: 2;
  background-size: 100%;
}
.parent > div:nth-child(4){
  width: 261px;
  height: 28px;
  background-image: url('./images/SomeArea.png');
  position: absolute;
  top: 320px;
  left: 245px;
  background-size: 100%;
  z-index: 3;
}
.parent > div:nth-child(5){
  width: 350px;
  height: 325px;
  background-image: url('./images/Harukas-img.png');
  position: absolute;
  top: 390px;
  left: 240px;
  background-size: 100%;
  z-index: 4;
}
.parent > div:nth-child(6){
  width: 350px;
  height: 326px;
  background-image: url('./images/Glycosan-img.png');
  position: absolute;
  top: 390px;
  left: 620px;
  background-size: 100%;
  z-index: 5;
}
.parent > div:nth-child(7){
  width: 350px;
  height: 326px;
  background-image: url('./images/Zoo-img.png');
  position: absolute;
  top: 390px;
  left: 1000px;
  background-size: 100%;
  z-index: 6;
}
.parent > div:nth-child(8){
  width: 34px;
  height: 34px;
  background-image: url('./images/CloseButton.png');
  position: absolute;
  top: 110px;
  left: 1330px;
  background-size: 100%;
  z-index: 7;
}
.parent > div:nth-child(9){
  width: 150px;
  height: 22px;
  background-image: url('./images/Harukas-kr.png');
  position: absolute;
  top: 725px;
  left: 340px;
  background-size: 100%;
  z-index: 8;
}
.parent > div:nth-child(10){
  width: 165px;
  height: 22px;
  background-image: url('./images/Glycosan-kr.png');
  position: absolute;
  top: 725px;
  left:710px;
  background-size: 100%;
  z-index: 9;
}
.parent > div:nth-child(11){
  width: 130px;
  height: 22px;
  background-image: url('./images/Zoo-kr.png');
  position: absolute;
  top: 725px;
  left: 1110px;
  background-size: 100%;
  z-index: 10;
}

.parent > div:nth-child(12){
  width: 100px;
  height: 48px;
  background-image: url('./images/NextButton.png');
  position: absolute;
  top: 310px;
  left: 1230px;
  background-size: 100%;
  z-index: 11;
}


/* Tokyo */
.parent2 {
  width: 100vw;
  height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  background-image: url('./images/CheckBackGround.png');
}

.parent2 > div:nth-child(2){
  /* 이미지 크기 */
  width: 380px; 
  height: 92px;
  position: absolute;
  background-image: url('./images/TOKYO.png');
  position: absolute;
  /* 이미지 위치 */
  top: 170px;
  left: 240px;
  z-index: 1;
  /* 이미지 가로 세로 비율은 그대로, 크기 줄이기 */
  background-size: 100%;
 
}
.parent2 > div:nth-child(3){
  width: 660px;
  height: 80px;
  position: absolute;
  background-image: url('./images/TOKYO-ex.png');
  position: absolute;
  top: 180px;
  left: 680px;
  z-index: 2;
  background-size: 100%;
}
.parent2 > div:nth-child(4){
  width: 261px;
  height: 28px;
  background-image: url('./images/SomeArea.png');
  position: absolute;
  top: 320px;
  left: 245px;
  background-size: 100%;
  z-index: 3;
}
.parent2 > div:nth-child(5){
  width: 350px;
  height: 325px;
  background-image: url('./images/Disneyland-img.png');
  position: absolute;
  top: 390px;
  left: 240px;
  background-size: 100%;
  z-index: 4;
}
.parent2 > div:nth-child(6){
  width: 350px;
  height: 326px;
  background-image: url('./images/UenoPark-img.png');
  position: absolute;
  top: 390px;
  left: 620px;
  background-size: 100%;
  z-index: 5;
}
.parent2 > div:nth-child(7){
  width: 350px;
  height: 326px;
  background-image: url('./images/Meiji-img.png');
  position: absolute;
  top: 390px;
  left: 1000px;
  background-size: 100%;
  z-index: 6;
}
.parent2 > div:nth-child(8){
  width: 34px;
  height: 34px;
  background-image: url('./images/CloseButton.png');
  position: absolute;
  top: 110px;
  left: 1330px;
  background-size: 100%;
  z-index: 7;
}
.parent2 > div:nth-child(9){
  width: 120px;
  height: 22px;
  background-image: url('./images/Disneyland-kr.png');
  position: absolute;
  top: 725px;
  left: 350px;
  background-size: 100%;
  z-index: 8;
}
.parent2 > div:nth-child(10){
  width: 130px;
  height: 23px;
  background-image: url('./images/UenoPark-kr.png');
  position: absolute;
  top: 725px;
  left:730px;
  background-size: 100%;
  z-index: 9;
}
.parent2 > div:nth-child(11){
  width: 130px;
  height: 24px;
  background-image: url('./images/Meiji-kr.png');
  position: absolute;
  top: 725px;
  left: 1109px;
  background-size: 100%;
  z-index: 10;
}

.parent2 > div:nth-child(12){
  width: 100px;
  height: 48px;
  background-image: url('./images/NextButton.png');
  position: absolute;
  top: 310px;
  left: 1230px;
  background-size: 100%;
  z-index: 11;
}

/* Sapporo */
.parent1 {
  width: 100vw;
  height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  background-image: url('./images/CheckBackGround.png');
}

.parent1 > div:nth-child(2){
  /* 이미지 크기 */
  width: 450px; 
  height: 77px;
  position: absolute;
  background-image: url('./images/SAPPORO.png');
  position: absolute;
  /* 이미지 위치 */
  top: 170px;
  left: 240px;
  z-index: 1;
  /* 이미지 가로 세로 비율은 그대로, 크기 줄이기 */
  background-size: 100%;
 
}
.parent1 > div:nth-child(3){
  width: 510px;
  height: 80px;
  position: absolute;
  background-image: url('./images/SAPPORO-ex.png');
  position: absolute;
  top: 170px;
  left: 740px;
  z-index: 2;
  background-size: 100%;
}
.parent1 > div:nth-child(4){
  width: 261px;
  height: 28px;
  background-image: url('./images/SomeArea.png');
  position: absolute;
  top: 320px;
  left: 245px;
  background-size: 100%;
  z-index: 3;
}
.parent1 > div:nth-child(5){
  width: 350px;
  height: 325px;
  background-image: url('./images/IceFestival-img.png');
  position: absolute;
  top: 390px;
  left: 240px;
  background-size: 100%;
  z-index: 4;
}
.parent1 > div:nth-child(6){
  width: 350px;
  height: 326px;
  background-image: url('./images/ArtMuseum-img.png');
  position: absolute;
  top: 390px;
  left: 620px;
  background-size: 100%;
  z-index: 5;
}
.parent1 > div:nth-child(7){
  width: 350px;
  height: 326px;
  background-image: url('./images/ShoppingStore-img.png');
  position: absolute;
  top: 390px;
  left: 1000px;
  background-size: 100%;
  z-index: 6;
}
.parent1 > div:nth-child(8){
  width: 34px;
  height: 34px;
  background-image: url('./images/CloseButton.png');
  position: absolute;
  top: 110px;
  left: 1330px;
  background-size: 100%;
  z-index: 7;
}
.parent1 > div:nth-child(9){
  width: 200px;
  height: 22px;
  background-image: url('./images/IceFestival-kr.png');
  position: absolute;
  top: 725px;
  left: 310px;
  background-size: 100%;
  z-index: 8;
}
.parent1 > div:nth-child(10){
  width: 165px;
  height: 22px;
  background-image: url('./images/ArtMuseum-kr.png');
  position: absolute;
  top: 725px;
  left:710px;
  background-size: 100%;
  z-index: 9;
}
.parent1 > div:nth-child(11){
  width: 180px;
  height: 22px;
  background-image: url('./images/ShoppingStore-kr.png');
  position: absolute;
  top: 725px;
  left: 1089px;
  background-size: 100%;
  z-index: 10;
}

.parent1 > div:nth-child(12){
  width: 100px;
  height: 48px;
  background-image: url('./images/NextButton.png');
  position: absolute;
  top: 310px;
  left: 1230px;
  background-size: 100%;
  z-index: 11;
}